/* .App {
  text-align: center;
} */

.halloween {
    background-color: orange;
}

.business {
    background-color: gray;
}

.bookListNavbar {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    height: 3rem;
    z-index: 200;
}

.infiniteList {
    box-sizing: border-box;
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    z-index: 100;
}

@media (max-width: 1174px) {
    .bookListNavbar {
        height: 5.8rem;
    }

    .infiniteList {
        height: calc(100vh - 5.8rem);
    }

    @media (max-width: 812px) {
        .bookListNavbar {
            height: 8.1rem;
        }

        .infiniteList {
            height: calc(100vh - 8.1rem);
        }
    }
}
