/* .App {
  text-align: center;
} */

.halloween {
    background-color: orange;
}

.business {
    background-color: gray;
}

.bookListNavbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 3rem;
    z-index: 200;
}

.infiniteList {
    margin-top: 3rem;
    z-index: 100;
}

@media (max-width: 1195px) {
    .bookListNavbar {
        height: 5.8rem;
    }

    .infiniteList {
        margin-top: 5.8rem;
    }

    @media (max-width: 832px) {
        .bookListNavbar {
            height: 8.1rem;
        }

        .infiniteList {
            margin-top: 8.1rem;
        }
    }
}
